*{
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.gif{
    width:100%;
}
.gbtn{
    color:white;
    background-color:turquoise
}
.gbtn:hover{
    color:orangered;
}
.bottom{
    margin-bottom: 100px;
}
.title{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
}
